<h2>About Us</h2>
<img src="https://sestarssoftball.files.wordpress.com/2016/04/img_1366.jpg?w=1082" alt="Southeast Stars" width="500">

<h3>We are the South East Stars. A little league farm-level girls softball team out of the Mount Tabor neighborhood.</h3>
<h3>We care about fundamentals, teamwork, and having fun.</h3>
<h3>We don't sweat the small stuff.  We shake it off like Taylor Swift when we goof up.</h3>
<h3>We love getting outs, hitting the ball, running bases hard head down, and encouraging each other to take another swing at the ball</h3>
<h3>We play to win but don't rub it in.</h3>
<h3>We are the Southeast Stars.</h3>

<h1><a routerLink="/">Home</a></h1>
