<h2>About Us</h2>
<img src="https://sestarssoftball.files.wordpress.com/2016/04/img_1366.jpg?w=1082" alt="Southeast Stars" width="800">

<h3>We are the South East Stars. A farm league girls softball team out of the Mount Tabor neighborhood.</h3>
<h3>We care about fundamentals, teamwork, and having fun.</h3>
<h3>We don't sweat the small stuff.  We shake it off like Taylor Swift when we goof up.</h3>
<h3>We love getting outs,</h3>
<h3>gitting hits,</h3>
<h3>and encouraging each other to give it another swing.</h3>
<h3>We play to win but know how to lose.</h3>
<h3>We don't rub it in.</h3>
<h3>We are the Southeast Stars.</h3>

<a routerLink="/">Home</a> | <a routerLink="members">Members</a> | <a routerLink="coaches/members">Coaches</a>
