<div class="panel panel-default" (click)="goToDetailPage(member)">
  <div class="panel-heading">
    <h2 class="panel-title">{{member.playerName}} | {{member.playerNickname}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <img src={{member.playerProfileImgUrl}} width="100" alt="picture of {{member.playerName}}">
        <h3>Number: {{member.playerNumber}}</h3>
      </div>
      <div class="col-md-9">
        <h3>Favorite Positions To Play</h3>
        <ul>
          <li *ngFor="let position of member.favoritePositions">{{position}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
