<h2>Welcome to SE Stars Softball!</h2>
<img src="https://sestarssoftball.files.wordpress.com/2016/04/img_1407.jpg" width="900" alt="Alice pitching" />
<h3>This is our portal for managing the team.</h3>
<h3>Parents click on member below to see our roster and the details about our players.</h3>
<h3><a routerLink="members">Members</a></h3>
<h3>Coaches, follow the link below to help plan our next game and manage the team.</h3>
<h3><a routerLink="coaches/members">Coaches</a></h3>
<h3>Visiters who want to learn more about the team follow the about link.</h3>
<h3><a routerLink="about">About Us</a></h3>
